# 期待する回答
- 実装コードは省略せず、完全な形で提供してください
- 日本語での詳細な説明をしてください

# 設計書
- Viewレイヤー(ネイティブ)
  - MVVMアーキテクチャを採用しAndroid/iOSそれぞれネイティブでViewおよびViewModelを実装します。
- データレイヤー(KMP)
  - UseCaseとデータレイヤーはKMPで共通化します。ただし、AndroidのSharedPreferecesとiOSのUserDefaultを利用するlocalのデータレイヤーやKMPでインタフェースを提供するのみで、実装は各々のネイティブOS出行います。

# ディレクトリ構成
- shared/src
  - commonMain/  :プラットフォームに依存しない共有ロジック、RepositoryやModelはこのディレクトリに実装してください。"commonMain/"がコアとして機能し、プラットフォーム固有のロジックは"androidMain/"と"iosMain/"に配置されます。
  - androidMain/  : Android 固有のロジックです
  - iosMain/      : iOS 固有のロジックです
- androidApp/  : Androidネイティブ実装です
- iosApp/      : iOSネイティブ実装です

# 利用ライブラリ
- Koin: Modelクラス以外は全てDI対象とします
- Ktor: API通信はKtorを使います
- SQLDelight: 履歴の管理に使います

## 実装ガイドライン
- 共通ロジック(commonMain)
  - FakeHttpClient を使用して API 呼び出しをモックします。
  - モデル クラスを除くすべてのクラスは、依存性注入に Koin を使用してください
  - すべてのpublic関数は"suspend"関数で実装してください。
- androidAppおよびiosApp
  - ネイティブ実装は指示がない限り実装しないでください。

## 機密ファイルの扱い
次のファイルは読み取ったり変更したりしないでください
- .envファイル
- .keystoreファイル
- トークンを含むファイル
- シークレットを含むファイル
- パスワードを含むファイル
