# Android Studio
*.iml
.gradle
.kotlin
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.log

# common
/shared/build/

# Android
/androidApp/build/

# add custom
/sampleprj
